/* this css styles need to be included in order to display the images with our layout */

.sd-container
  width: 100%
  color:#222
  
  &>*
    box-sizing:border-box
  
  .sd-title
    font-weight:bold
    font-size:24px
    margin-bottom:10px
    
  .sd-subtitle
    font-size:18px
    color:#777
    margin-bottom:10px

  .sd-image
    width:33%
    padding:10px 
    float:left
    
    img 
      width:100% 
