@import 'normalize'
@import 'helper'
@import 'bootstrap.css'

div#editor
  width:100%
  max-width:668px
  margin: 0 auto
  padding: 1em
  h1
    margin: .5em 0 1em 0
  .validate
    float: right
  .error
    display: none